/dist
/main.spec
/master_schedule_1_to_20.png
/master_schedule_21_to_40.png
/master_schedule_41_to_60.png
/master_schedule_61_to_70.png
/schedule_matches_1_to_20.png
/schedule_matches_21_to_40.png
/schedule_matches_41_to_60.png
/schedule_matches_61_to_70.png